header{
  background-color:rgba(34,49,52,0.5);
  height:90px;
  width:100%;
  position:fixed;
  top:0px;
}

header h1{
  color:white;
  padding-left:20px;
}

.container{
  width:80%;
  margin:0 auto;
}

.top{
  background-image: url(file:///Users/ayakafujimori/Downloads/IMG_2880.JPG);
  background-size: cover;
  height: 900px;
}

.top h2{
  float: right;
  font-size: 40px;
  margin-top: 250px;
}

.top p{
  font-size: 30px;
  float: right;
  margin-top: 250px;
  margin-left: 50%;
}

.favorite{
  background-color:#f7f7f7;
  height:1400px;
}

.favorite h3{
  font-size: 40px;
  text-align:center;
  padding-top:50px;
  padding-bottom: 20px;
}

.content h4{
  border-bottom:2px solid #eee
}

.content{
  height:320px;
  padding-bottom:30px;
}

.content h4{
  font-size: 30px;
}

.detail{
  display:inline-block;
}

.detail img{
  height:250px;
  width:250px;
  margin:0px 20px;
  border-radius:5px;
}

.detail p{
  width:78vw;
  font-size: 23px;
}
